fastapi
uvicorn[standard]
python-multipart
opencv-python
ultralytics
numpy
groq
pydantic-settings
pdf2image
pandas
openpyxl
pillow
pytesseract
pdfplumber
PyMuPDF
openai
python-dotenv
pydantic
pytest
pymongo
passlib[bcrypt]
PyJWT
